hr {
	margin: 10px 0;
	opacity: 0.3;
}

.span:hover {
	color: #ff60ce;
}

.category span {
	cursor: pointer;
	color: #545454;
}
.comments {
	font-weight: 800;
	text-decoration: none;
	color: black;
}
.comments:hover {
	color: #ff60ce;
}
