.page2 {
  // max-width: 375px;
  height: 100%;
  background-color: #0f001b;
  padding-bottom: 40px;
  //   padding: 8px 10px;

  .btn2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 10px 8px 20px;
    font-size: 0.8rem;
    font-family: "Barlow", sans-serif;
    background-color: #ffbd00;
    border: 1px solid #ffbd00;
    transition: all 0.3s ease-out 0s;
    cursor: pointer;
  }

  .btn2:hover {
    background-color: transparent;
    color: #ffbd00;
    transition: all 0.3s ease-out 0s;
  }
}
@media only screen and (min-width: 800px) {
  .flex {
    display: flex;
    justify-content: space-evenly;
  }
}
